<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>
    <div id="login">
        
        <div class="info">
            <div class="login_info">
                <h1>Log in</h1>
                <p>Welcome to the student employment management system</p>
                <div class="LoginBox">
                    <input type="text" v-model='username' placeholder="username">
                    <input type="password" v-model='password' placeholder="password">
                    <button>student login</button>
                    <button>teacher login</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#login",
            data: {
                username: '',
                password: '',
            },
            methods: {
                login: function () {
                    var username = this.username;
                    var password = this.password;
                    axios.post("https://autumnfish.cn/api/joke/list?num=6", {
                        username: username,
                        password: password,
                    })
                        .then(function (response) {
                            // console.log(response)
                            console.log(response.data);
                            // console.log(this.joke);

                        }, function (err) { })
                }
            },
        })

    </script>
</body>

</html>